name: "Setup"
description: "Setup Node.js"

runs:
  using: "composite"
  steps:
    - name: "Setup Node"
      uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
      with:
        node-version-file: 'package.json'
        cache: 'yarn'
    - name: "Install NPM Packages"
      run: yarn install --check-files --frozen-lockfile --non-interactive
      shell: bash
