.slidev-layout {
  font-size: 1rem !important;
}

h1 {
  font-size: 1.2rem !important;
  font-weight: bold;
}

code {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace !important;
  font-size: 0.7rem !important;
  line-height: 0.6 !important;
}
