name: Format

on:
  pull_request_target:

permissions:
  contents: write

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          ref: ${{ github.event.pull_request.head.ref }}
      - uses: ./.github/workflows/setup
      - id: format
        run: |
          yarn format
          echo "result=$(git diff --shortstat)" >> $GITHUB_OUTPUT
      - if: steps.format.outputs.result != ''
        run: |
          git -c "user.name=github-actions[bot]" -c "user.email=github-actions[bot]@users.noreply.github.com" commit -a -m "ci: format"
          git push origin ${{ github.event.pull_request.head.ref }}
